/* colors default */
$brand-primary: #595959 !default;
$brand-hover: #57575a !default;
$brand-bg:#303030 !default;
$grey100: #000000 !default;
$grey70: #414142 !default;
$grey50: #2E294E !default;

$grey20: #ACBDBA !default;
$grey10: #CDDDDD !default;
$grey5: #FCFCFC !default;
$red: #ee3524 !default;
$red-hover: #f04436 !default;
/*///////////////////////////*/
$black: #161616 !default;
$grey80: #616161 !default;
$grey60: #929292 !default;
$grey40: #D1D1D1 !default;
$grey20: #FCFCFC !default;
$white: #FFFFFF !default;
/*COLORS*/
$brand-blue:#77BFE9!default;
$brand-black:#141314!default;
$brand-blue-h:#71A9C9!default;
///////////////
$brand-green: #0D5239 !default;
$brand-lightgreen: #3C9B7E !default;
$brand-grey: #F9F8F6 !default;
$brand-yellow: #FFB23C !default;
/*HOVER*/
$brand-yellow-h: #FB9700 !default;

/* font-size */
/* h1 */
$h1: 80px !default;
$h1-big: 80px !default;
$h1-lg: 60px !default;
$h1-md: 60px !default;
$h1-sm: 45px !default;
$h1-xs: 45px !default;
/*tittle caps*/
/* h2 */
$h2: 24px !default;
$h2-big: 24px !default;
$h2-lg: 24px !default;
$h2-md: 24px !default;
$h2-sm: 20px !default;
$h2-xs: 20px !default;
/* h3 */
$h3: 18px !default;
$h3-big: 18px !default;
$h3-lg: 18px !default;
$h3-md: 18px !default;
$h3-sm: 18px !default;
$h3-xs: 18px !default;
/* h4 */
$h4: 16px !default;
$h4-big: 16px !default;
$h4-lg: 16px !default;
$h4-md: 16px !default;
$h4-sm: 16px !default;
$h4-xs: 16px !default;
/* h5 */
$h5: 15px !default;
$h5-big: 15px !default;
$h5-lg: 15px !default;
$h5-md: 15px !default;
$h5-sm: 14px !default;
$h5-xs: 14px !default;
/* h6 */
$h6: 14px !default;
$h6-big: 14px !default;
$h6-lg: 14px !default;
$h6-md: 14px !default;
$h6-sm: 14px !default;
$h6-xs: 14px !default;

/* base */
$base: 14px !default;
$base-lg: 14px !default;
$base-md: 14px !default;
$base-sm: 14px !default;

/* font-family */
$family-base: 'Ubuntu', 'sans-serif'!default;
$family-title:  'Hanson', 'sans-serif'!default;
$fw-700-title:700 !default;
$fw-400-title:400 !default;

$fw-400-base:400 !default;
$fw-500-base:500 !default;
$fw-700-base:700 !default;
/* breakpoints */
$screen-big-min: 1550px !default;
$screen-lg-min: 1200px !default;
$screen-md-min: 992px !default;
$screen-sm-min: 768px !default;
$screen-xs-min: 576px !default;
$screen-xss-min: 500px !default;
